{% extends 'admin/master.html' %}
{% block body %}
  <form action="/list-assets" method="get"> 
    <label> <input type="checkbox" name="include" value="1"> Include item </label> 
    <button type="submit">List Assets</button> 
  </form>
  <form action="/cash-flow-detail" method="get"> 
    <label> <input type="checkbox" name="include" value="1"> Include item </label> 
    <button type="submit">Cash Flow</button> 
  </form>
  <form action="/monthly-pnl" method="get"> 
    <label> <input type="checkbox" name="income" value="1">Include Income </label>
    <label> <input type="checkbox" name="expenses" value="1">Include Expenses </label> 
    <button type="submit">Monthly P&L</button> 
  </form>
{% endblock %}